In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv('../data/external/final_data/final_data_without_duplicates_10_elbagory_scrapping.csv',index_col=0)

In [3]:
df1 = df1[~df1.duration.isnull()]

In [4]:
df1

,video_id,trending_date,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,category_title,Country,duration
256306,GK6gPiWoAiI,18.09.01,2018-01-08T17:00:02.000Z,196544,12955,232,2268,False,False,Entertainment,MX,3:09
169512,JmFSZdrlJco,17.07.12,2017-12-06T07:27:01.000Z,376498,2628,293,648,False,False,Entertainment,IN,2:00
296651,Oj-70unSKAQ,18.23.01,2018-01-22T15:00:02.000Z,225651,56119,245,1479,False,False,People & Blogs,RU,7:15
359972,__-22AJoFxY,18.17.01,2018-01-12T13:27:11.000Z,270838,31167,83,1624,False,False,Music,US,4:10
82108,VMsrHhGiCKs,17.30.11,2017-11-28T21:38:02.000Z,156379,670,94,97,False,False,Entertainment,FR,49:18:00
...,...,...,...,...,...,...,...,...,...,...,...,...
296464,B_f5q69xqwY,18.19.01,2018-01-18T05:07:54.000Z,39451,131,15,2,False,False,People & Blogs,RU,0:50
89010,9hCoH70NRD4,18.05.05,2018-05-01T14:52:54.000Z,9048,83,34,25,False,False,Entertainment,FR,1:58
253626,hG4lM-yXnqs,17.29.11,2017-11-28T17:30:01.000Z,48101,7577,56,459,False,False,Entertainment,MX,14:44
58887,ADsP_VigXJI,18.18.01,2018-01-17T14:55:35.000Z,8884,530,26,112,False,False,Education,DE,41:00:00
17363,F8o5Ya660AI,18.24.04,2018-04-23T15:33:31.000Z,256565,5663,103,212,False,False,Entertainment,CA,4:31

In [5]:
#there are some errors in reading duration 
erorrs = df1[df1.duration.apply(lambda x : x[-2:].count('0') == 2 and x.count(':') == 2)]
erorrs

,video_id,trending_date,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,category_title,Country,duration
82108,VMsrHhGiCKs,17.30.11,2017-11-28T21:38:02.000Z,156379,670,94,97,False,False,Entertainment,FR,49:18:00
100945,Y4kgTHacMyA,18.30.05,2018-05-29T13:16:37.000Z,21922,944,13,194,False,False,Sports,FR,28:25:00
109244,iEUkL3B6p5s,18.16.03,2018-03-15T17:49:12.000Z,4969,433,8,11,False,False,Howto & Style,FR,43:06:00
15409,Vtiz_GDgKzg,18.20.03,2018-03-19T07:28:55.000Z,135800,790,73,103,False,False,Entertainment,CA,28:17:00
324481,EpEPYxadSgI,18.03.05,2018-05-02T06:00:01.000Z,275567,11876,1181,2341,False,False,Gaming,RU,33:08:00
...,...,...,...,...,...,...,...,...,...,...,...,...
15653,X0O35ZRG6ek,18.23.03,2018-03-22T16:00:05.000Z,557814,4207,354,1060,False,False,Entertainment,CA,36:40:00
87456,M39WfFqos2Y,18.25.03,2018-03-24T14:42:21.000Z,12354,242,15,87,False,False,Entertainment,FR,31:01:00
260209,T6FvOScBe14,18.12.03,2018-03-12T03:32:27.000Z,40524,1306,113,68,False,False,Entertainment,MX,58:27:00
326036,svywBoY88OE,18.20.02,2018-02-19T18:30:01.000Z,107589,362,131,112,False,False,Film & Animation,RU,39:01:00
58887,ADsP_VigXJI,18.18.01,2018-01-17T14:55:35.000Z,8884,530,26,112,False,False,Education,DE,41:00:00

In [6]:
errd = erorrs.duration.apply(lambda x : x[:-3])
errd

82108     49:18
100945    28:25
109244    43:06
15409     28:17
324481    33:08
          ...
15653     36:40
87456     31:01
260209    58:27
326036    39:01
58887     41:00
Name: duration, Length: 580, dtype: object

In [7]:
erorrs.drop('duration',axis = 1,inplace =True)

/home/mahmoudelgarnosy/.local/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [8]:
erorrs['duration'] =  errd

<ipython-input-8-bcb1b379083f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  erorrs['duration'] =  errd

In [9]:
erorrs

,video_id,trending_date,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,category_title,Country,duration
82108,VMsrHhGiCKs,17.30.11,2017-11-28T21:38:02.000Z,156379,670,94,97,False,False,Entertainment,FR,49:18
100945,Y4kgTHacMyA,18.30.05,2018-05-29T13:16:37.000Z,21922,944,13,194,False,False,Sports,FR,28:25
109244,iEUkL3B6p5s,18.16.03,2018-03-15T17:49:12.000Z,4969,433,8,11,False,False,Howto & Style,FR,43:06
15409,Vtiz_GDgKzg,18.20.03,2018-03-19T07:28:55.000Z,135800,790,73,103,False,False,Entertainment,CA,28:17
324481,EpEPYxadSgI,18.03.05,2018-05-02T06:00:01.000Z,275567,11876,1181,2341,False,False,Gaming,RU,33:08
...,...,...,...,...,...,...,...,...,...,...,...,...
15653,X0O35ZRG6ek,18.23.03,2018-03-22T16:00:05.000Z,557814,4207,354,1060,False,False,Entertainment,CA,36:40
87456,M39WfFqos2Y,18.25.03,2018-03-24T14:42:21.000Z,12354,242,15,87,False,False,Entertainment,FR,31:01
260209,T6FvOScBe14,18.12.03,2018-03-12T03:32:27.000Z,40524,1306,113,68,False,False,Entertainment,MX,58:27
326036,svywBoY88OE,18.20.02,2018-02-19T18:30:01.000Z,107589,362,131,112,False,False,Film & Animation,RU,39:01
58887,ADsP_VigXJI,18.18.01,2018-01-17T14:55:35.000Z,8884,530,26,112,False,False,Education,DE,41:00

In [10]:
df1 = df1[~df1['video_id'].isin(list(erorrs.video_id))]

In [11]:
df1 = df1.append(erorrs,ignore_index = True)

In [12]:
df1

,video_id,trending_date,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,category_title,Country,duration
0,GK6gPiWoAiI,18.09.01,2018-01-08T17:00:02.000Z,196544,12955,232,2268,False,False,Entertainment,MX,3:09
1,JmFSZdrlJco,17.07.12,2017-12-06T07:27:01.000Z,376498,2628,293,648,False,False,Entertainment,IN,2:00
2,Oj-70unSKAQ,18.23.01,2018-01-22T15:00:02.000Z,225651,56119,245,1479,False,False,People & Blogs,RU,7:15
3,__-22AJoFxY,18.17.01,2018-01-12T13:27:11.000Z,270838,31167,83,1624,False,False,Music,US,4:10
4,OlKEngWvLY4,18.22.04,2018-04-20T07:13:51.000Z,52818,87,123,101,False,False,News & Politics,IN,1:09
...,...,...,...,...,...,...,...,...,...,...,...,...
5735,X0O35ZRG6ek,18.23.03,2018-03-22T16:00:05.000Z,557814,4207,354,1060,False,False,Entertainment,CA,36:40
5736,M39WfFqos2Y,18.25.03,2018-03-24T14:42:21.000Z,12354,242,15,87,False,False,Entertainment,FR,31:01
5737,T6FvOScBe14,18.12.03,2018-03-12T03:32:27.000Z,40524,1306,113,68,False,False,Entertainment,MX,58:27
5738,svywBoY88OE,18.20.02,2018-02-19T18:30:01.000Z,107589,362,131,112,False,False,Film & Animation,RU,39:01
5739,ADsP_VigXJI,18.18.01,2018-01-17T14:55:35.000Z,8884,530,26,112,False,False,Education,DE,41:00

In [13]:
df2 = pd.read_csv('../data/external/final_data/final_data_without_duplicates_10_mahmoud_scrapping.csv')
df2 = df2[~df2.duration.isnull()]
df2

,Unnamed: 0,video_id,trending_date,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,category_title,Country,duration
1,301844,VsWzjqAyIvY,18.11.05,2018-05-10T05:00:03.000Z,47327,6310,47,448,False,False,People & Blogs,RU,2:00
3,133038,kGOmPmILndU,17.15.11,2017-11-07T13:30:04.000Z,1500067,65867,1836,5638,False,False,Music,GB,2:45
5,240452,PqCNicmUs8A,18.16.01,2018-01-11T11:57:22.000Z,676161,10551,443,3213,False,False,Entertainment,KR,4:29
6,94476,PevUW-7xI_8,18.25.04,2018-04-24T16:24:05.000Z,7380,48,3,4,False,False,Comedy,FR,3:17
8,319940,mgJVbAK4Hw4,18.24.02,2018-02-23T21:17:51.000Z,13001,199,388,340,False,False,News & Politics,RU,17:56
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9105,86551,20xQIUzWQsY,18.06.03,2018-03-05T10:08:24.000Z,74255,2054,61,116,False,False,Entertainment,FR,1:26
9107,265898,FEeTA14p_0k,18.10.06,2018-06-10T07:55:55.000Z,20958,1894,55,999,False,False,Entertainment,MX,31:46
9109,43206,g1-W7FOzItY,17.17.12,2017-12-16T11:00:04.000Z,41036,3509,185,201,False,False,Entertainment,DE,9:46
9110,334099,9DUfFHaUpxg,18.25.03,2018-03-20T14:24:31.000Z,1732872,46176,513,2662,False,False,People & Blogs,US,3:28
9112,293841,NqKVWdMSlSs,17.02.12,2017-12-01T10:35:37.000Z,10016,817,20,36,False,False,People & Blogs,RU,13:57

In [14]:
df_duration = df1.append(df2,ignore_index=True)

In [15]:
df_duration

,video_id,trending_date,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,category_title,Country,duration,Unnamed: 0
0,GK6gPiWoAiI,18.09.01,2018-01-08T17:00:02.000Z,196544,12955,232,2268,False,False,Entertainment,MX,3:09,NaN
1,JmFSZdrlJco,17.07.12,2017-12-06T07:27:01.000Z,376498,2628,293,648,False,False,Entertainment,IN,2:00,NaN
2,Oj-70unSKAQ,18.23.01,2018-01-22T15:00:02.000Z,225651,56119,245,1479,False,False,People & Blogs,RU,7:15,NaN
3,__-22AJoFxY,18.17.01,2018-01-12T13:27:11.000Z,270838,31167,83,1624,False,False,Music,US,4:10,NaN
4,OlKEngWvLY4,18.22.04,2018-04-20T07:13:51.000Z,52818,87,123,101,False,False,News & Politics,IN,1:09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9812,20xQIUzWQsY,18.06.03,2018-03-05T10:08:24.000Z,74255,2054,61,116,False,False,Entertainment,FR,1:26,86551.0
9813,FEeTA14p_0k,18.10.06,2018-06-10T07:55:55.000Z,20958,1894,55,999,False,False,Entertainment,MX,31:46,265898.0
9814,g1-W7FOzItY,17.17.12,2017-12-16T11:00:04.000Z,41036,3509,185,201,False,False,Entertainment,DE,9:46,43206.0
9815,9DUfFHaUpxg,18.25.03,2018-03-20T14:24:31.000Z,1732872,46176,513,2662,False,False,People & Blogs,US,3:28,334099.0
9816,NqKVWdMSlSs,17.02.12,2017-12-01T10:35:37.000Z,10016,817,20,36,False,False,People & Blogs,RU,13:57,293841.0

In [16]:
df_duration.drop_duplicates(subset='video_id',inplace = True, ignore_index=True)

In [17]:
df_duration.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9814 entries, 0 to 9813
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   video_id           9814 non-null   object
 1   trending_date      9814 non-null   object
 2   publish_time       9814 non-null   object
 3   views              9814 non-null   int64
 4   likes              9814 non-null   int64
 5   dislikes           9814 non-null   int64
 6   comment_count      9814 non-null   int64
 7   comments_disabled  9814 non-null   bool
 8   ratings_disabled   9814 non-null   bool
 9   category_title     9814 non-null   object
 10  Country            9814 non-null   object
 11  duration           9814 non-null   object
 12  Unnamed: 0         4077 non-null   float64
dtypes: bool(2), float64(1), int64(4), object(6)
memory usage: 862.7+ KB

In [18]:
import time
def convert(time_string):
    if time_string.count(':') == 2:
        date_var = time.strptime(time_string, '%H:%M:%S')

    else:    
        date_var = time.strptime(time_string, '%M:%S')

    minutes = date_var.tm_hour * 60 + date_var.tm_min
    
    if date_var.tm_sec > 30:
        minutes+=1
    return minutes

In [19]:
duration_in_minutes = df_duration.duration.apply(lambda x : convert(x))
duration_in_minutes

0        3
1        2
2        7
3        4
4        1
        ..
9809     1
9810    32
9811    10
9812     3
9813    14
Name: duration, Length: 9814, dtype: int64

In [20]:
df_duration['duration_in_minutes'] = duration_in_minutes

In [21]:
df_duration

,video_id,trending_date,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,category_title,Country,duration,Unnamed: 0,duration_in_minutes
0,GK6gPiWoAiI,18.09.01,2018-01-08T17:00:02.000Z,196544,12955,232,2268,False,False,Entertainment,MX,3:09,NaN,3
1,JmFSZdrlJco,17.07.12,2017-12-06T07:27:01.000Z,376498,2628,293,648,False,False,Entertainment,IN,2:00,NaN,2
2,Oj-70unSKAQ,18.23.01,2018-01-22T15:00:02.000Z,225651,56119,245,1479,False,False,People & Blogs,RU,7:15,NaN,7
3,__-22AJoFxY,18.17.01,2018-01-12T13:27:11.000Z,270838,31167,83,1624,False,False,Music,US,4:10,NaN,4
4,OlKEngWvLY4,18.22.04,2018-04-20T07:13:51.000Z,52818,87,123,101,False,False,News & Politics,IN,1:09,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9809,20xQIUzWQsY,18.06.03,2018-03-05T10:08:24.000Z,74255,2054,61,116,False,False,Entertainment,FR,1:26,86551.0,1
9810,FEeTA14p_0k,18.10.06,2018-06-10T07:55:55.000Z,20958,1894,55,999,False,False,Entertainment,MX,31:46,265898.0,32
9811,g1-W7FOzItY,17.17.12,2017-12-16T11:00:04.000Z,41036,3509,185,201,False,False,Entertainment,DE,9:46,43206.0,10
9812,9DUfFHaUpxg,18.25.03,2018-03-20T14:24:31.000Z,1732872,46176,513,2662,False,False,People & Blogs,US,3:28,334099.0,3
9813,NqKVWdMSlSs,17.02.12,2017-12-01T10:35:37.000Z,10016,817,20,36,False,False,People & Blogs,RU,13:57,293841.0,14

In [22]:
df_duration.drop('duration',inplace=True,axis = 1)

In [23]:
df_duration

,video_id,trending_date,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,category_title,Country,Unnamed: 0,duration_in_minutes
0,GK6gPiWoAiI,18.09.01,2018-01-08T17:00:02.000Z,196544,12955,232,2268,False,False,Entertainment,MX,NaN,3
1,JmFSZdrlJco,17.07.12,2017-12-06T07:27:01.000Z,376498,2628,293,648,False,False,Entertainment,IN,NaN,2
2,Oj-70unSKAQ,18.23.01,2018-01-22T15:00:02.000Z,225651,56119,245,1479,False,False,People & Blogs,RU,NaN,7
3,__-22AJoFxY,18.17.01,2018-01-12T13:27:11.000Z,270838,31167,83,1624,False,False,Music,US,NaN,4
4,OlKEngWvLY4,18.22.04,2018-04-20T07:13:51.000Z,52818,87,123,101,False,False,News & Politics,IN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9809,20xQIUzWQsY,18.06.03,2018-03-05T10:08:24.000Z,74255,2054,61,116,False,False,Entertainment,FR,86551.0,1
9810,FEeTA14p_0k,18.10.06,2018-06-10T07:55:55.000Z,20958,1894,55,999,False,False,Entertainment,MX,265898.0,32
9811,g1-W7FOzItY,17.17.12,2017-12-16T11:00:04.000Z,41036,3509,185,201,False,False,Entertainment,DE,43206.0,10
9812,9DUfFHaUpxg,18.25.03,2018-03-20T14:24:31.000Z,1732872,46176,513,2662,False,False,People & Blogs,US,334099.0,3
9813,NqKVWdMSlSs,17.02.12,2017-12-01T10:35:37.000Z,10016,817,20,36,False,False,People & Blogs,RU,293841.0,14

In [24]:
df_duration.to_csv('../data/processed/df_duration.csv')