In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
df_duration = pd.read_csv('../data/processed/df_duration.csv',index_col=0)

In [16]:
df_duration.drop('Unnamed: 0.1',axis = 1, inplace = True)

In [17]:
df_duration

,video_id,trending_date,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,category_title,Country,duration_in_minutes
0,GK6gPiWoAiI,18.09.01,2018-01-08T17:00:02.000Z,196544,12955,232,2268,False,False,Entertainment,MX,3
1,JmFSZdrlJco,17.07.12,2017-12-06T07:27:01.000Z,376498,2628,293,648,False,False,Entertainment,IN,2
2,Oj-70unSKAQ,18.23.01,2018-01-22T15:00:02.000Z,225651,56119,245,1479,False,False,People & Blogs,RU,7
3,__-22AJoFxY,18.17.01,2018-01-12T13:27:11.000Z,270838,31167,83,1624,False,False,Music,US,4
4,OlKEngWvLY4,18.22.04,2018-04-20T07:13:51.000Z,52818,87,123,101,False,False,News & Politics,IN,1
...,...,...,...,...,...,...,...,...,...,...,...,...
9809,20xQIUzWQsY,18.06.03,2018-03-05T10:08:24.000Z,74255,2054,61,116,False,False,Entertainment,FR,1
9810,FEeTA14p_0k,18.10.06,2018-06-10T07:55:55.000Z,20958,1894,55,999,False,False,Entertainment,MX,32
9811,g1-W7FOzItY,17.17.12,2017-12-16T11:00:04.000Z,41036,3509,185,201,False,False,Entertainment,DE,10
9812,9DUfFHaUpxg,18.25.03,2018-03-20T14:24:31.000Z,1732872,46176,513,2662,False,False,People & Blogs,US,3
9813,NqKVWdMSlSs,17.02.12,2017-12-01T10:35:37.000Z,10016,817,20,36,False,False,People & Blogs,RU,14

In [18]:
df_duration['publish_time'] = pd.to_datetime(df_duration.publish_time)

In [19]:
df_duration['publish_time'] = df_duration.publish_time.dt.date

In [21]:
df_duration

,video_id,trending_date,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,category_title,Country,duration_in_minutes
0,GK6gPiWoAiI,18.09.01,2018-01-08,196544,12955,232,2268,False,False,Entertainment,MX,3
1,JmFSZdrlJco,17.07.12,2017-12-06,376498,2628,293,648,False,False,Entertainment,IN,2
2,Oj-70unSKAQ,18.23.01,2018-01-22,225651,56119,245,1479,False,False,People & Blogs,RU,7
3,__-22AJoFxY,18.17.01,2018-01-12,270838,31167,83,1624,False,False,Music,US,4
4,OlKEngWvLY4,18.22.04,2018-04-20,52818,87,123,101,False,False,News & Politics,IN,1
...,...,...,...,...,...,...,...,...,...,...,...,...
9809,20xQIUzWQsY,18.06.03,2018-03-05,74255,2054,61,116,False,False,Entertainment,FR,1
9810,FEeTA14p_0k,18.10.06,2018-06-10,20958,1894,55,999,False,False,Entertainment,MX,32
9811,g1-W7FOzItY,17.17.12,2017-12-16,41036,3509,185,201,False,False,Entertainment,DE,10
9812,9DUfFHaUpxg,18.25.03,2018-03-20,1732872,46176,513,2662,False,False,People & Blogs,US,3
9813,NqKVWdMSlSs,17.02.12,2017-12-01,10016,817,20,36,False,False,People & Blogs,RU,14

In [28]:
df_duration['trending_date'] = pd.to_datetime(df_duration.trending_date,format = "%y.%d.%m")

In [29]:
df_duration

,video_id,trending_date,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,category_title,Country,duration_in_minutes
0,GK6gPiWoAiI,2018-01-09,2018-01-08,196544,12955,232,2268,False,False,Entertainment,MX,3
1,JmFSZdrlJco,2017-12-07,2017-12-06,376498,2628,293,648,False,False,Entertainment,IN,2
2,Oj-70unSKAQ,2018-01-23,2018-01-22,225651,56119,245,1479,False,False,People & Blogs,RU,7
3,__-22AJoFxY,2018-01-17,2018-01-12,270838,31167,83,1624,False,False,Music,US,4
4,OlKEngWvLY4,2018-04-22,2018-04-20,52818,87,123,101,False,False,News & Politics,IN,1
...,...,...,...,...,...,...,...,...,...,...,...,...
9809,20xQIUzWQsY,2018-03-06,2018-03-05,74255,2054,61,116,False,False,Entertainment,FR,1
9810,FEeTA14p_0k,2018-06-10,2018-06-10,20958,1894,55,999,False,False,Entertainment,MX,32
9811,g1-W7FOzItY,2017-12-17,2017-12-16,41036,3509,185,201,False,False,Entertainment,DE,10
9812,9DUfFHaUpxg,2018-03-25,2018-03-20,1732872,46176,513,2662,False,False,People & Blogs,US,3
9813,NqKVWdMSlSs,2017-12-02,2017-12-01,10016,817,20,36,False,False,People & Blogs,RU,14

In [30]:
df_duration.sort_values(by = 'publish_time',axis = 0,ignore_index=True,inplace = True)

In [31]:
df_duration.head()

,video_id,trending_date,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,category_title,Country,duration_in_minutes
0,p9zTSvEpt_8,2018-02-05,2007-06-25,98981,615,12,138,False,False,Music,GB,5
1,-37nIo_tLnk,2018-01-02,2009-12-15,3170,4,0,1,False,False,Sports,US,1
2,K9kVsnTQh-g,2018-01-27,2010-05-11,73902,261,55,96,False,False,Science & Technology,US,2
3,SYMbxhEqDjE,2018-01-30,2011-06-20,31495,12,357,43,False,False,Comedy,RU,0
4,Upems4CB_ps,2017-12-01,2011-11-20,127640,696,52,233,False,False,Gaming,US,0

In [33]:
df_duration.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9814 entries, 0 to 9813
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   video_id             9814 non-null   object
 1   trending_date        9814 non-null   datetime64[ns]
 2   publish_time         9814 non-null   object
 3   views                9814 non-null   int64
 4   likes                9814 non-null   int64
 5   dislikes             9814 non-null   int64
 6   comment_count        9814 non-null   int64
 7   comments_disabled    9814 non-null   bool
 8   ratings_disabled     9814 non-null   bool
 9   category_title       9814 non-null   object
 10  Country              9814 non-null   object
 11  duration_in_minutes  9814 non-null   int64
dtypes: bool(2), datetime64[ns](1), int64(5), object(4)
memory usage: 786.0+ KB

In [36]:
df_duration['publish_time'] = df_duration.publish_time.astype('datetime64[ns]')

In [37]:
df_duration.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9814 entries, 0 to 9813
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   video_id             9814 non-null   object
 1   trending_date        9814 non-null   datetime64[ns]
 2   publish_time         9814 non-null   datetime64[ns]
 3   views                9814 non-null   int64
 4   likes                9814 non-null   int64
 5   dislikes             9814 non-null   int64
 6   comment_count        9814 non-null   int64
 7   comments_disabled    9814 non-null   bool
 8   ratings_disabled     9814 non-null   bool
 9   category_title       9814 non-null   object
 10  Country              9814 non-null   object
 11  duration_in_minutes  9814 non-null   int64
dtypes: bool(2), datetime64[ns](2), int64(5), object(3)
memory usage: 786.0+ KB

In [39]:
from datetime import date
import calendar
# curr_date = date.today()
df_duration['day_of_week'] = df_duration['publish_time'].apply(lambda x : calendar.day_name[x.weekday()])

In [40]:
df_duration['day_of_week']

0          Monday
1         Tuesday
2         Tuesday
3          Monday
4          Sunday
          ...
9809    Wednesday
9810    Wednesday
9811    Wednesday
9812    Wednesday
9813     Thursday
Name: day_of_week, Length: 9814, dtype: object

In [41]:
df_duration['published_in_weekend'] = [True if day in ['Saturday','Sunday'] else False for day in df_duration['day_of_week']]

In [43]:
df_duration[df_duration['published_in_weekend'] == True]

,video_id,trending_date,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,category_title,Country,duration_in_minutes,day_of_week,published_in_weekend
4,Upems4CB_ps,2017-12-01,2011-11-20,127640,696,52,233,False,False,Gaming,US,0,Sunday,True
8,W_pH4u5-NhE,2017-12-08,2013-09-08,5682,21,2,0,False,False,Comedy,US,1,Sunday,True
9,_OkxKKsL2u8,2018-01-01,2014-01-12,146885,844,52,59,False,False,Comedy,CA,1,Sunday,True
12,j9n7Boia0po,2017-12-26,2016-05-21,10655,17,0,6,False,False,Sports,US,2,Saturday,True
24,wpiII6Q5yGk,2018-01-16,2017-10-01,8819,1,2,0,False,False,Entertainment,RU,0,Sunday,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9634,yoVF8GqzTos,2018-06-11,2018-06-10,198247,8585,201,471,False,False,Comedy,JP,13,Sunday,True
9635,S7DsmX7a54o,2018-06-12,2018-06-10,121265,13027,425,1433,False,False,People & Blogs,RU,8,Sunday,True
9636,qcSWDcBtZfg,2018-06-12,2018-06-10,720419,41784,2309,2775,False,False,Autos & Vehicles,RU,30,Sunday,True
9637,4Z7_o9sw_HU,2018-06-10,2018-06-10,245498,2795,157,1275,False,False,Sports,CA,1,Sunday,True
9638,loD5PbQkmUY,2018-06-11,2018-06-10,149789,1390,77,325,False,False,News & Politics,FR,2,Sunday,True

In [44]:
df_duration.rename(columns = {'day_of_week':'puplished_day'},inplace = True)

In [45]:
df_duration.info()

,video_id,trending_date,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,category_title,Country,duration_in_minutes,puplished_day,published_in_weekend
0,p9zTSvEpt_8,2018-02-05,2007-06-25,98981,615,12,138,False,False,Music,GB,5,Monday,False
1,-37nIo_tLnk,2018-01-02,2009-12-15,3170,4,0,1,False,False,Sports,US,1,Tuesday,False
2,K9kVsnTQh-g,2018-01-27,2010-05-11,73902,261,55,96,False,False,Science & Technology,US,2,Tuesday,False
3,SYMbxhEqDjE,2018-01-30,2011-06-20,31495,12,357,43,False,False,Comedy,RU,0,Monday,False
4,Upems4CB_ps,2017-12-01,2011-11-20,127640,696,52,233,False,False,Gaming,US,0,Sunday,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9809,VwsZjVDUWsg,2018-06-14,2018-06-13,31279,2456,113,322,False,False,Science & Technology,FR,6,Wednesday,False
9810,pYRkLcQLjtw,2018-06-14,2018-06-13,19061,2133,24,754,False,False,Howto & Style,RU,3,Wednesday,False
9811,hcPmoTzp54U,2018-06-14,2018-06-13,109335,842,189,663,False,False,Entertainment,RU,12,Wednesday,False
9812,Lzg55FuaC6s,2018-06-14,2018-06-13,16822,84,15,25,False,False,Entertainment,DE,8,Wednesday,False
9813,vtKknCTp1_U,2018-06-14,2018-06-14,33081,4430,50,337,False,False,Music,MX,5,Thursday,False

In [46]:
df_duration = df_duration[df_duration.duration_in_minutes > 0]

In [47]:
df_duration

,video_id,trending_date,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,category_title,Country,duration_in_minutes,puplished_day,published_in_weekend
0,p9zTSvEpt_8,2018-02-05,2007-06-25,98981,615,12,138,False,False,Music,GB,5,Monday,False
1,-37nIo_tLnk,2018-01-02,2009-12-15,3170,4,0,1,False,False,Sports,US,1,Tuesday,False
2,K9kVsnTQh-g,2018-01-27,2010-05-11,73902,261,55,96,False,False,Science & Technology,US,2,Tuesday,False
6,GDUncuEErzQ,2017-12-07,2012-12-10,7753,29,3,3,False,False,Education,US,4,Monday,False
8,W_pH4u5-NhE,2017-12-08,2013-09-08,5682,21,2,0,False,False,Comedy,US,1,Sunday,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9809,VwsZjVDUWsg,2018-06-14,2018-06-13,31279,2456,113,322,False,False,Science & Technology,FR,6,Wednesday,False
9810,pYRkLcQLjtw,2018-06-14,2018-06-13,19061,2133,24,754,False,False,Howto & Style,RU,3,Wednesday,False
9811,hcPmoTzp54U,2018-06-14,2018-06-13,109335,842,189,663,False,False,Entertainment,RU,12,Wednesday,False
9812,Lzg55FuaC6s,2018-06-14,2018-06-13,16822,84,15,25,False,False,Entertainment,DE,8,Wednesday,False
9813,vtKknCTp1_U,2018-06-14,2018-06-14,33081,4430,50,337,False,False,Music,MX,5,Thursday,False

In [48]:
df_duration.to_csv('../data/processed/df_duration_prepared.csv')